@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto:wght@500;900&display=swap');


:root{
    --main-color:rgb(166, 175, 199);
    --White:#ffffff;
    --bg:rgb(96 230 220);
    --bg1:#dae4e5;
    --bg2:#386c72;
    --bg3:#dae9e9;
    --bg4:#296e6b;
    --bg5:#94c0c2;

    --bg1n:#293241;
    --bg2n:#ee6b4f;
    --bg3n:#3b5b81;
    --bg4n:#98c0d9;
    
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
 /*   text-transform: capitalize;*/
    transition: .2s linear;
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0);
    border-radius: 5rem;
}

body{
    background: var(--bg1);  
}

section{
    padding: 2rem 7%;
}


.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    text-shadow: 1px 1px 1px #000;
}


.heading span{
    color: var(--bg2);
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    background: var(--bg3);
    cursor: pointer;
    border: 2px solid #ffffff;
}

.btn:hover{
    letter-spacing: .2rem;
}


nav .login-signup {
    display: none;
}

header .login-signup {
    color: #cfd9e0;
    font-weight: bold;
}
header .login-signup a {
    display: inline-block;
    color: #0b2239;
    background: var(--bg5);
    padding: 5px 12px;
    border-radius: 5px;
}



.header{
    width:100%  ;
    height:10% ;
  background:var(--bg2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5 rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 7rem;
    width: 25rem;
    color: #fff;
    margin-left: 2rem;
    text-shadow: #ccc;
}


    
.header-right {
    margin-right: 3rem;
}



.dropbtn {
    background-color: #989898;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: var(--bg4)}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ffffff;}

.navbar {
    margin-right: 10rem;
    margin-top: 3rem;
    
}

.navbar a, .right-nav a{
    margin: 0 2rem;
    
    color: white;
    text-transform: uppercase;
    text-decoration: none;
   
    padding: 0;
    margin: 0 13px;
    position: relative;
}
.navbar a:before, .right-nav a:before{
    content: '';
    width: 0;
    right:0;
    bottom:-3px;
    height: 2px;
    background-color: white;
    position: absolute;
    transition: width .2s linear;
}
.navbar a:hover:before, .right-nav a:hover:before{
    right: initial;
    left:0;
    width: 100%;
}

.navbar a{
    font-size: 2rem;
    color: #dae4e5;
    
   
}
.right-nav{
    
   
    font-size: 4rem;
    position: fixed;
    right:1rem;
    top:2rem;
    height: 4rem;
    display: flex;
    align-items: center;
}
.header .nav-right {
    font-size: 2rem;
    margin-right: 2re;
}



.header .icons div{
    color: #dae4e5;
    cursor: pointer;
    font-size: 2.5rem;
    margin-right: 15rem;
}



#menu-btn{
    display: none;
 
}


/* SLIDER */

.carousel-inner .item img{
width: 60rem;
height: 60rem;
}




.home1{
    min-height: 60vh;
    width: 100%;
    display: flex;
  /*  flex-direction: column;*/
    align-items: center;
    background-color: var(--bg3);
    background-size: cover;
    background-position: center;
}



.home1 .content{
    min-width: 60rem;
}

.home1 .content h3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-size: 16rem;
    color: rgb(20 49 41);
    margin-top: 8rem;
   /* background: linear-gradient(rgb(62, 62, 133), rgb(255, 255, 255));*/
    text-shadow: 1px 1px 1px #000;

    
}

.home1 .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;    
    color: var(--bg2);
}

.home1 p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.2;
    padding: 1rem 0;    
    color: rgb(42, 64, 173);
    margin-top: 10rem;
    text-align:  center;
    
}

.home1 .content .btn{
    border-radius: 20px;
    margin: 2rem;
}

/* CIRCLE_h4 */
.draw_circle h4{
    font-size: 1.5rem;
    font-weight: lighter; 
    line-height: 1.2;
   /*  padding: 1rem 0; */
    color: rgb(255, 255, 255);
    margin-top: 5rem;
    text-align: center;
}

.draw_circle .circle h4{
    margin-top: 4rem;
}
.draw_circle .circle4 h4{
    margin-top: 6rem;
}

#block, #block_p{
    display: none;
}
.draw_circle{
    display: flex;
    flex-direction: row;
    height: 27rem;
    width: 70rem;
    margin-left: 3rem;
    
}
.draw_circle .circle{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: #296e6b;
    margin-top: 2rem;
}

.draw_circle .circle1{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background-color: #296e6b;
    margin-top: 10rem;
}

.draw_circle .circle:hover{
    transform: scale(1.1);
}
.draw_circle .circle{
    transition: 0.5s;
}

.draw_circle .circle1:hover{
    transform: scale(1.1);
}
.draw_circle .circle1{
    transition: 0.5s;
}


.draw_circle .circle2{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background-color: #296e6b;
    margin-top: 3rem;
}

.draw_circle .circle2:hover{
    transform: scale(1.1);
}
.draw_circle .circle2{
    transition: 0.5s;
}
.draw_circle .circle3{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: #296e6b;
    margin-top: 12rem;
}

.draw_circle .circle3:hover{
    transform: scale(1.1);
}
.draw_circle .circle3{
    transition: 0.5s;
}
.draw_circle .circle4{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background-color: #296e6b;
}

.draw_circle .circle4:hover{
    transform: scale(1.1);
}
.draw_circle .circle4{
    transition: 0.5s;
}

  

.home{
    min-height: 100vh;
        display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg2);
    background-size: cover;
    background-position: center;
}

.home .content{
    min-width: 60rem;
}

.home .content h3{
   
    font-size: 16rem;
    color: #fff;
    
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;    
    color: #eee;
}

.home p{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.2;
    padding: 1rem 0;    
    color: #eee;
    margin-top: 10rem;
    text-align:  center;
}

.home .content .btn{
    border-radius: 20px;
    margin: 2rem;
}




.menu .box-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5em;
    
}

.menu .box-container .box {
    text-align: center;
    border: var(--bg2);
    padding: 2rem;
}

.menu .box-container{
    padding: 5rem;
    text-align: center;
    border: rgb(90, 69, 143);
}

.menu .box-container .box img{
    height: 25rem;
    margin-top: 2rem;
}

.menu .box-container .box h3{
    color:rgb(90, 69, 143);
    font-size: 2rem;
    padding: 1rem 0;
}



.menu .box-container .box:hover{
    background: var(--bg5);
}

.menu .box-container .box:hover > *{
    color: var(--black);
}

/* BLOGS */

.blogs {
    background: var(--bg2);
   
}

.blogs .box-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container2 .box{
    border: var(--bg4);
    display: flex;
    
    flex-direction: row;
}

.blogs .box-container2 .box .image {
    height: 30rem;
    overflow: hidden;
    width: 17%;
}

.blogs .box-container2 .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.blogs .box-container2 .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container2 .box .content{
    padding: 2rem;
}

.blogs .box-container2 .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.blogs .box-container2 .box .content .title:hover{
    color: var(--main-color);
}

.blogs .box-container2 .box .content span{
    color: var(--bg1);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container2 .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

.blogs .heading span{
    color: var(--bg1);
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}







.blog .row{
    display: flex;
    align-items: center;
    background: var(--bg3);
    flex-wrap: wrap;
}

.blog .row .image{
    flex: 0 1 45rem;
}

.blog .row .image img{
    width: 80%;
    height: 35rem;
}

.blog .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.blog .row .content h3{
    font-size: 3rem;
    color: rgb(0, 0, 0);
}

.blog .row .content p{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    line-height: 1.8;
}
.blog .row .content a{
    font-size: 3rem;
    text-decoration: underline;
    color: #fff;
}



.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding: 5rem 2rem;
    text-align: center; 
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg3);
    border: 2px solid #ffffff;
}

.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--bg2);
    text-transform: none;
    background: none;
}

/* FOOTER */
.footer{
    background:var(--bg2);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

     align-content: space-around;

justify-content: space-evenly;

align-items: center;
}

.footer .shar{
    padding: 1rem 0;
}

.footer .shar a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .shar a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{    
    padding: 2rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: black;
}

.footer .credit span a{
    color: var(--bg3);
}

.footer .credit span a:hover{
    color: black;
}



@media (max-width:1400px) {

    html{
        font-size: 70%;
    }

    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem ;
    }

}


@media (max-width:1100px) {

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem ;
    }

}

@media (max-width:768px) {
   
    #menu-btn{
        display: inline-block;
    }

    #disk{
        display: flex;
  flex-direction: column;
    }

    .navbar {
        margin-right: -35rem;
        
    }
    .header .logo img {
        height: 7rem;
        width: 25rem;
        color: #fff;
        margin-left: 2rem;
        text-shadow: #ccc;
    }
    .header .navbar{
        position: absolute;
        top: 70%; 
        right: -100%;
        background: var(--bg2);
        width: 65rem;
        height: calc(80vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .draw_circle{
        display: flex;
        flex-direction: row;
        height: 20rem;
        width: 60rem;
        margin-left: 1rem;
    }

    .home1 .content h3 {
       
        font-size: 13rem;
        margin-left: 9rem;
       
    }
    .header .navbar a{
        color: var(--bg1);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }


    .blogs .box-container2 .box{
        border: var(--bg4);
        display: flex;
        
        flex-direction: column;
    }

    .blogs .box-container2 .box .image{
        height: 50rem;
        overflow: hidden;
         width: 73%;
        margin-left: 5rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
    }
}





@media (max-width:450px) {

    html{
        font-size: 50%;
    }

    .home1 .content h3 {
       
        font-size: 10rem;
        margin-left: 13rem;
    }
 
.home1 {
    height: 90rem;
}
.draw_circle h4{
    font-size: 1.5rem;
    font-weight: lighter; 
    line-height: 1.2;
   /*  padding: 1rem 0; */
    color: rgb(255, 255, 255);
    margin-top: 5rem;
    text-align: center;
}

.draw_circle .circle h4{
    margin-top: 4rem;
}
.draw_circle .circle4 h4{
    margin-top: 6rem;
}


.draw_circle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    align-content: stretch;
 
    justify-content: center;
       
    
    align-items: stretch;
    height: 27rem;
    width: 70rem;
   
    
}
.draw_circle .circle{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #296e6b;
    margin-top: 6rem;
    margin-left: 6rem;
}

.draw_circle .circle1{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: #296e6b;
    margin-top: 10rem;
    margin-left: 9rem;
}

.draw_circle .circle:hover{
    transform: scale(1.1);
}
.draw_circle .circle{
    transition: 0.5s;
}

.draw_circle .circle1:hover{
    transform: scale(1.1);
}
.draw_circle .circle1{
    transition: 0.5s;
}


.draw_circle .circle2{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: #296e6b;
    margin-top: 6rem;
    margin-left: 6rem;
}

.draw_circle .circle2:hover{
    transform: scale(1.1);
}
.draw_circle .circle2{
    transition: 0.5s;
}
.draw_circle .circle3{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background-color: #296e6b;
    margin-top: -1rem;
    margin-left: 6rem;
}

.draw_circle .circle3:hover{
    transform: scale(1.1);
}
.draw_circle .circle3{
    transition: 0.5s;
}
.draw_circle .circle4{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: #296e6b;
    margin-top: 6rem;
    margin-left: 6rem;
}

.draw_circle .circle4:hover{
    transform: scale(1.1);
}
.draw_circle .circle4{
    transition: 0.5s;
}

    .blogs .box-container2 .box .image{
        height: 50rem;
        overflow: hidden;
         width: 73%;
        margin-left: 5rem;
    }

    .blogs .box-container2 .box{
        border: var(--bg4);
        display: flex;       
        flex-direction: column;
    }

    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
    }
    .navbar {
        margin-right: -35rem;
        
    }
    .header .navbar{
        position: absolute;
        top: 70%; 
        right: -100%;
        background: var(--bg2);
        width: 65rem;
        height: calc(70vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--bg1);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .home, .home1, .box-container, .footer, .blogs, .contact {
        width: 135%;
      }
}

@media (max-width:320px) {

    html{
        font-size: 40%;
    }

}


